<div class="header_holder">
	<div class="logo">
		<img src="../images/logo.png" />
	</div>
	<!--logo ends-->
	<div class="logo-mid-buttons">
		<div class="mid-buttons">
			<div class="buttons">
				<a href="/designer/index.html">Designer</a>
			</div>
			<!--buttons ends-->
			<div class="buttons buttons-active">
				<a href="javascript:">Dashboard</a>
			</div>
			<!--buttons ends-->
			<div class="buttons">
				<a href="javascript:">Tasks</a>
			</div>
			<!--buttons ends-->
		</div>
		<!--mid-buttons ends-->
	</div>
	<!--logo-mid-buttons ends-->	
	<div class="header-right-buttons">
		<div class="buttons">
			<a href="javascript:">User</a>
		</div>
		<!--buttons ends-->
		<div class="buttons">
			<a href="javascript:">Settings</a>
		</div>
		<!--buttons ends-->
	</div>
	<!--header-right-buttons ends-->
</div>
<!--header_holder ends-->

